<?xml version="1.0"?>
<model>
    <name>DD Robot</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Dan L. Slovich</name>
        <email>danslovich@gmail.com</email>
    </author>

    <description>
        This is a DeeDee Robot
    </description>
    
</model>